* {
  margin: 0px;
  padding: 0px;
}

#navbar {
  border: 1px solid;
  height: 80px;
  padding: 1%;
}
#navbar div:nth-child(1) {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: bold;
}
#navbar div:nth-child(2) {
  margin-top: 1%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#navbar div:nth-child(1) img {
  width: 9px;
}
#logo {
  width: 8%;
  height: 9%;
  margin-left: 1%;
}
#navbar div:nth-child(1) p:last-child {
  background-color: black;
  color: white;
}
#search {
  width: 78%;

  background: url(https://icons.veryicon.com/png/o/application/wq/search-171.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 1%;
  padding: 1% 4% 1% 4%;
  font-weight: bold;
  border: 1px solid;
  font-size: 15px;
}
#navbar div:nth-child(1) p {
  margin-left: 1%;
  text-align: center;
  padding: 5px 10px 3px 10px;
}
#option {
  color: #626262;
  font-weight: bold;
}
