* {
  margin: 0px;
  padding: 0px;

  box-sizing: inherit;
}
body {
  width: 100%;
}

#navbar {
  position: sticky;
  border-bottom: 1px solid black;
  height: 80px;
  padding: 1%;
  width: 98%;
  background-color: #fff;
}
#navbar div:nth-child(1) {
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  font-weight: bold;
}
#navbar div:nth-child(2) {
  margin-top: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#help > option {
  font-size: 20px;
  margin: 10px;
}
#navbar div:nth-child(1) img {
  width: 9px;
}
#logo {
  width: 8%;
  height: 9%;
  margin-left: 1%;
}
#navbar div:nth-child(1) p:last-child {
  background-color: black;
  color: white;
}
#navbar div:nth-child(1) p a {
  text-decoration: none;
  color: black;
}
#navbar div:nth-child(1) p:last-child a {
  color: white;
}
#search {
  width: 75%;
  background: url(https://icons.veryicon.com/png/o/application/wq/search-171.png);
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 1%;
  padding: 1% 4% 1% 4%;
  font-weight: bold;
  border: 1px solid;
  font-size: 16px;
}
input::placeholder {
  color: rgb(170, 170, 170);
  font-weight: 1px;
}
#navbar div:nth-child(1) p {
  margin-left: 1%;
  text-align: center;
  padding: 5px 10px 3px 10px;
}
.option {
  font-weight: bold;
  margin-right: 2%;
  margin-top: 1%;
  margin-left: 1%;
}
.option a {
  color: #626262;
  text-decoration: none;
}
/* When header is not in viewport we hide it */
#search_icon,
#person_icon,
#close_search {
  display: none;
}
hr {
  border: none;
  height: 1px;
}
/* ............header complete............................ */
#products {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
#products div {
  width: 10%;
}


/* .......................media......................... */
@media all and (min-width: 200px) and (max-width: 902px) {
  #navbar {
    height: 40px;
  }
  #navbar div:nth-child(1) {
    display: none;
    margin: 0px;
  }
  .option {
    display: none;
    position: absolute;
    right: 0px;
    width: 1px;
  }
  #search {
    display: none;
    width: 80%;
    position: absolute;
    top: 60%;
    left: 1%;
  }
  #close_search {
    display: none;
    position: relative;
    left: -30px;
    top: 40px;
  }
  #person_icon {
    position: relative;
    right: -30px;
  }
  #logo {
    width: 13%;

    margin: auto;
    margin-bottom: 1%;
  }

  #navbar div:nth-child(2) {
    display: flex;
  }
  #search_icon {
    display: block;
    position: relative;
    left: 8%;
    font-size: 25px;
  }

  #person_icon {
    display: block;
  }

  #menu_icon {
    overflow: visible;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 1px;
    right: 95%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(1, auto);
  }

  .line2,
  .line3,
  .line4 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 2px 0;
    transition: 0.4s;
  }
  .change .line2 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  .change .line4 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }
  .change .line3 {
    opacity: 0;
  }
}
